body{
	background-color: black;
	text-align: center;
}

p{
	font-family: Verdana;
	
}
h1{
	font-family: Verdana;
	font-size: 50px;
	color: white;

}

.downloadLink{
	color: Aquamarine;
	font-size: 16px;
}

#description{
	color: gray;
	font-size: 21px;
}

.text{
	font-size:32px;
	font-weight: 300;
	color: white;
}

footer{
	text-align: right;
	color: gray;
	font-family: Verdana;
	font-size: 20px;


}